@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}


/* card flip */

.perspective {
  perspective: 1000px;
}

.transform-style {
  transform-style: preserve-3d;
}

.card-face {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}



.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}